<section
  id='AboutUs'
  class='max-w-screen mx-auto flex flex-col h-screen justify-center items-center lg:p-12 p-8'
>
  <div class='grid grid-cols-1 lg:grid-cols-2 border-1 w-full h-full'>
    <div class='grid grid-rows-[40%_60%]'>
      <div>
        <h3 class='text-6xl font-thin'>Nosotros</h3>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi fugit,
          sint earum quae ut repudiandae fugiat rerum delectus id dignissimos
          sequi consequuntur, saepe ratione necessitatibus aut modi doloremque.
          Est, incidunt.
        </p>
      </div>
      <div>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          maxime ex recusandae distinctio quos placeat excepturi, repudiandae
          obcaecati incidunt, enim doloremque dignissimos blanditiis ullam
          provident, similique deleniti voluptate magni beatae?
        </p>
      </div>
    </div>
    <div>
      <h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur
        officia beatae suscipit harum quis non accusamus ex atque, aspernatur
        quae quam rem placeat quos natus provident nostrum odio recusandae
        neque.
      </h1>
    </div>
  </div>
</section>
