<section
  id='AboutUs'
  class='max-w-[1440px] flex flex-col mx-auto h-screen lg:justify-center items-center lg:py-[50px] px-8 lg:px-0 lg:grid lg:grid-cols-[20%_80%]'
>
  <div class='w-full lg:h-full'>
    <div class='bg-gray-900 w-full rounded-lg h-full'>
      <div class='h-full w-full p-9'>
        <h1
          class='text-white lg:text-9xl text-3xl font-bold tracking-widest lg:-rotate-90 h-full w-full flex items-center justify-center'
        >
          Nosotros
        </h1>
      </div>
    </div>
  </div>
  <div class='lg:px-20 pt-10 flex flex-col justify-between h-full'>
    <p
      class='lg:text-4xl text-3xl text-justify font-extralight text-s leading-12'
    >
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      vitae rerum est commodi! Natus optio iure, alias officia debitis ea, magni
      aut eius totam reiciendis repellat quisquam distinctio iste nemo."" "Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Consequuntur vitae
      rerum est commodi! Natus optio iure, alias officia debitis ea, magni aut
      eius totam reiciendis repellat quisquam distinctio iste nemo.""
    </p>
    <p class='lg:text-4xl text-3xl italic font-thin mb-20 pt-10 text-right'>
      "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
      vitae rerum est commodi! Natus optio iure, alias officia debitis ea, magni
      aut eius totam reiciendis repellat quisquam distinctio iste nemo.""
    </p>
  </div>
</section>
