<!-- Primer bloque -->
<div
  class='h-auto bg-[#EFEADE] lg:flex lg:flex-col lg:mx-auto lg:max-w-screen lg:justify-center'
>
  <section
    id='About US'
    class='flex flex-col 2xl:min-h-screen 2xl:max-h-screen 2xl:grid 2xl:grid-cols-2 2xl:content-center max-w-[1540px] mx-auto items-center justify-center p-8 lg:py-0 lg:px-0 gap-10 rounded-2xl h-full text-gray-900 lg:mx-10 2xl:mx-auto'
  >
    <!-- Primera 1 -->
    <div
      class='flex flex-col 2xl:grid 2xl:grid-rows-[50%_50%] justify-center lg:items-end items-center w-full h-full lg:order-0'
    >
      <div class='flex flex-col 2xl:h-full items-end justify-start'>
        <div class='w-full'>
          <p class='text-2xl font-light 2xl:text-left text-right italic'>
            " Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt
            ab illo ipsa suscipit quae eveniet? Consequatur, ea. Mollitia id qui
            vel error nesciunt. Officiis, maiores consequatur natus incidunt
            ullam explicabo?"
          </p>
        </div>
      </div>
      <div class='w-full h-full flex justify-start items-end'>
        <div
          class='bg-[#cd0000] max-h-[250px] lg:h-full w-full lg:size-[250px] rounded-tr-[100%]'
        >
        </div>
      </div>
    </div>
    <!-- Column 2 -->
    <div class='flex flex-col gap-5 text-gray-900'>
      <!-- Segunda -->
      <div
        class='border-1 border-[#0000002c] rounded-2xl w-full h-full gap-10 order-2 lg:order-0 overflow-hidden'
      >
        <div
          class="bg-[url('../assets/1.jpg')] bg-[100%_auto] min-h-[200px] bg-no-repeat bg-center max-h-[200px]"
        >
        </div>
      </div>

      <div
        class='border-1 border-[#0000002c] rounded-2xl items-end 2xl:items-center flex flex-col 2xl:flex-row p-5 gap-10'
      >
        <div class='w-full flex flex-col 2xl:items-start items-end'>
          <h1
            class='2xl:text-5xl text-4xl 2xl:justify-end justify-center flex w-full font-light pb-5 lg:pb-0'
          >
            About Us
          </h1>
          <p class='lg:text-3xl text-1xl font-light text-justify lg:pt-5'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
            aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
            Laboriosam, voluptates architecto fuga optio deserunt repellat quos
            corrupti doloribus minus ipsa dicta odio rem ex id harum consectetur
            facere voluptatibus voluptatem.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
