<div class='bg-[#EFEADE]'>
  <section
    id='AboutUs'
    class='max-w-[1440px] mx-auto flex flex-col lg:grid lg:grid-cols-[20%_80%] lg:items-center lg:py-[50px] p-8 lg:p-0 h-auto lg:h-screen'
  >
    <!-- Columna 1: Título "Nosotros" -->
    <div class='w-full lg:h-full'>
      <div
        class='bg-gray-900 w-full h-full rounded-lg flex items-center justify-center'
      >
        <h1
          class='text-white text-3xl lg:text-9xl font-bold tracking-wide lg:-rotate-90'
        >
          Nosotros
        </h1>
      </div>
    </div>

    <!-- Columna 2: Contenido -->
    <div class='lg:pl-8 pt-10 lg:pt-0 flex flex-col justify-between'>
      <p class='lg:text-4xl text-3xl text-justify font-extralight leading-12'>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        vitae rerum est commodi! Natus optio iure, alias officia debitis ea,
        magni aut eius totam reiciendis repellat quisquam distinctio iste
        nemo."" "Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Consequuntur vitae rerum est commodi! Natus optio iure, alias officia
        debitis ea, magni aut eius totam reiciendis repellat quisquam distinctio
        iste nemo."
      </p>
      <p class='lg:text-4xl text-3xl italic font-thin mb-20 pt-10 text-right'>
        "Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        vitae rerum est commodi! Natus optio iure, alias officia debitis ea,
        magni aut eius totam reiciendis repellat quisquam distinctio iste nemo."
      </p>
    </div>
  </section>
</div>
