---
import { Image } from 'astro:assets'
---

<section
  class='h-full 2xl:h-screen bg-[#f2f2f2] lg:p-25 2xl:px-25 lg:px-10 px-8'
>
  <div class='h-full max-w-[1540px] mx-auto'>
    <div class='w-full flex flex-col h-full boder-black'>
      <!-- PRIMER BLOQUE / about us -->
      <div class='flex lg:flex-row flex-col w-full justify-end lg:p-0'>
        <h1
          class='text-right 2xl:text-8xl lg:text-5xl text-4xl text-gray-900 font-bold'
        >
          About <br />US
        </h1>
      </div>
      <!-- SEGUNDO BLOQUE / meta -->
      <div
        class='flex flex-col lg:flex-row h-full w-full items-start py-5 lg:py-2 lg:px-0 gap-5 lg:gap-0 text-gray-900'
      >
        <div class='flex flex-col items-center gap-5 w-full'>
          <h2 class='text-3xl hidden lg:block font-bold text-center uppercase'>
            Nuestra mision
          </h2>
          <h2 class='text-3xl lg:hidden font-bold'>
            Nuestra meta <br /> como empresa
          </h2>
          <p class='text-2xl font-thin lg:text-center text-right'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ad quasi! Eveniet dolore saepe iure at asperiores rerum
            ad obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Obcaecati magnam dolorem sequi nostrum, dolor quos molestiae
          </p>
          <div class='w-full flex justify-center'>
            <Image
              src='/logo.svg'
              alt='ccu logo'
              width={200}
              height={200}
            />
          </div>
        </div>
        <!-- TERCER BLOQUE / stats -->
        <div
          class='w-full h-full flex items-center justify-center lg:mb-0 mb-10 text-gray-900'
        >
          <div
            class='border-gray-600 w-[600px] h-[150px] rounded-xl bg-white shadow-2xl grid grid-cols-3 py-5'
          >
            <div class='grid justify-center items-center'>
              <h3 class='text-center'>Años <br /> experiencia</h3>
              <p class='text-center font-bold'>14</p>
            </div>

            <div
              class='grid justify-center items-center border-x-1 border-[#00000030]'
            >
              <h3 class='text-center'>Clientes <br /> satisfechos</h3>
              <p class='text-center font-bold'>125</p>
            </div>

            <div class='grid justify-center items-center'>
              <h3 class='text-center'>Empresas <br /></h3>
              <p class='text-center font-bold'>10</p>
            </div>
          </div>
        </div>
      </div>
      <div class='h-full w-full flex justify-start'>
        <div
          class='bg-[#cd0000] size-[100px] lg:size-[250px] rounded-tr-[100%] max-h-[250pxv ]'
        >
        </div>
      </div>
    </div>
  </div>
</section>
