---
import { Image } from 'astro:assets'
---

<section
  class='h-full 2xl:h-screen bg-linear-to-b from-[#f8f9fa] via-[#e9ecef] to-[#dce6f1] 2xl:px-25 lg:px-10 px-8 py-25'
  id='AboutUs'
>
  <div class='h-full max-w-[1440px] mx-auto'>
    <div class='w-full flex flex-col h-full boder-black'>
      <!-- PRIMER BLOQUE / about us -->
      <div
        class='flex lg:flex-row flex-col justify-end items-start lg:p-0 w-full h-full'
      >
        <h1
          class='lg:text-5xl 2xl:text-7xl text-4xl font-extrabold h-auto w-full flex flex-col'
        >
          <span class='bg-gray-900 h-full p-2 text-[#fff] text-right'
            >About</span
          ><span class='h-full p-2 text-right'>Us</span>
        </h1>
      </div>
      <!-- CUARTO BLOQUE / red corner sm -->
      <div class='h-full w-full justify-start items-end lg:hidden'>
        <div
          class='bg-[#cd0000] size-[100px] lg:size-[150px] rounded-tr-[100%] max-h-[250pxv ]'
        >
        </div>
      </div>
      <!-- SEGUNDO BLOQUE / meta -->
      <div
        class='flex flex-col lg:flex-row h-full w-full items-center justify-center py-5 lg:py-2 lg:px-0 gap-5 lg:gap-10 text-gray-900'
      >
        <div
          class='flex flex-col items-left gap-5 max-w-[800px] p-10 shadow-2xl border-l-8 border-gray-900 bg-white hover:scale-110 hover:transform transition-all'
        >
          <h2
            class='text-3xl hidden lg:block font-extrabold uppercase text-gray-900'
          >
            Nuestra mision
          </h2>
          <h2 class='text-3xl lg:hidden font-bold'>
            Nuestra meta <br /> como empresa
          </h2>
          <p class='text-1xl font-light text-left'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ad quasi! Eveniet dolore saepe iure at asperiores rerum
            ad obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Obcaecati magnam dolorem sequi nostrum, dolor quos molestiae
          </p>
          <div
            class='w-full h-full flex flex-col lg:flex-row justify-start items-center py-5 gap-5 lg:gap-0'
          >
            <Image
              src='/logo.svg'
              alt='ccu logo'
              width={250}
              height={250}
            />
            <div class='relative flex w-full h-full justify-end'>
              <span
                class='text-2xl absolute 2xl:right-62 hidden lg:block top-[-10px] font-medium'
                >+</span
              >
              <span
                class='text-2xl absolute lg:hidden left-2 top-[-10px] font-medium'
                >+</span
              >
              <p class='h-full flex text-2xl font-extrabold text-right'>
                20 años de experiencia
              </p>
            </div>
          </div>
        </div>
        <!-- TERCER BLOQUE / stats -->
        <!-- <div
          class='w-full h-full flex flex-col gap-10 items-start justify-center lg:mb-0 mb-10 text-gray-900'
        >
          <div
            class='relative flex flex-col size-[300px] h-full items-start border-1 border-[#cd0000] p-10 shadow-lg'
          >
            <div class='w-full h-full'>
              <h2 class='absolute left-5 top-5 text-4xl font-bold'>+</h2>
              <h3 class='text-7xl font-bold'>14</h3>
            </div>
            <div class='w-full h-full flex items-center'>
              <p class='text-2xl font-light text-[#cd0000]'>
                Años de experiencia
              </p>
            </div>
          </div>
        </div> -->
      </div>
      <!-- CUARTO BLOQUE / red corner lg -->
      <div class='w-full justify-start items-end hidden lg:flex'>
        <div
          class='bg-[#cd0000] size-[100px] lg:size-[150px] rounded-tr-[100%] max-h-[250pxv ]'
        >
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .shadow-2xl {
    box-shadow:
      0 5px 10px rgba(154, 160, 185, 0.1),
      0 15px 40px rgba(166, 173, 201, 0.4);
  }
</style>
