---
import { Image } from 'astro:assets'
---

<section
  class='h-full 2xl:h-screen bg-linear-to-b from-[#f8f9fa] via-[#e9ecef] to-[#dce6f1] 2xl:px-25 lg:px-10 px-8 py-25'
  id='AboutUs'
>
  <div class='h-full max-w-[1440px] mx-auto'>
    <div class='w-full flex flex-col h-full boder-black'>
      <!-- PRIMER BLOQUE / about us -->
      <div
        class='flex lg:flex-row flex-col justify-end items-start lg:p-0 w-full'
      >
        <h1
          class='lg:text-5xl 2xl:text-7xl text-4xl font-extrabold h-auto w-full flex flex-col'
        >
          <span class='bg-gray-900 h-full p-2 text-[#fff] text-right'
            >About</span
          ><span class='h-full p-2 text-right'>Us</span>
        </h1>
      </div>
      <!-- CUARTO BLOQUE / red corner sm -->
      <div class='h-full w-full justify-start items-end lg:hidden'>
        <div
          class='bg-[#cd0000] size-[100px] lg:size-[150px] rounded-tr-[100%] max-h-[250pxv ]'
        >
        </div>
      </div>
      <!-- SEGUNDO BLOQUE / meta -->
      <div
        class='flex flex-col lg:flex-row h-full w-full items-center justify-center py-5 lg:py-2 lg:px-0 gap-5 lg:gap-10 text-gray-900'
      >
        <div
          class='flex flex-col lg:items-left items-center gap-10 max-w-[800px] p-10 shadow-2xl border-l-8 border-gray-900 bg-white hover:scale-110 hover:transform transition-all intersect:animate-fade-up intersect-once'
        >
          <h2
            class='md:text-3xl text-2xl font-extrabold uppercase text-gray-900 w-full text-center md:text-left'
          >
            Nuestra misión
          </h2>

          <p class='text-1xl font-light md:text-left text-center text-balance'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Repellendus, ad quasi! Eveniet dolore saepe iure at asperiores rerum
            ad obcaecati. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Obcaecati magnam dolorem sequi nostrum, dolor quos molestiae
          </p>
          <div
            class='w-full h-full flex flex-col md:flex-row justify-between items-center gap-5 lg:gap-0'
          >
            <Image
              src='/logo.svg'
              alt='ccu logo'
              width={200}
              height={200}
              class='order-2 md:order-0'
            />
            <div class='flex h-full justify-end md:text-2xl text-[18px]'>
              <p
                class='h-full relative flex font-extrabold lg:text-right text-left py-1 px-2'
              >
                <span class='absolute left-0 flex top-[-10px] font-medium'
                  >+</span
                >
                20 años de experiencia
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- CUARTO BLOQUE / red corner lg -->
      <div class='w-full justify-start items-end hidden lg:flex'>
        <div
          class='bg-[#cd0000] size-[100px] lg:size-[150px] rounded-tr-[100%] max-h-[250pxv ]'
        >
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .shadow-2xl {
    box-shadow:
      0 5px 10px rgba(154, 160, 185, 0.1),
      0 15px 40px rgba(166, 173, 201, 0.4);
  }
</style>
<style>
  @media;
</style>
