---
import Form from './Form.astro'
---

<section
  class='h-full w-full 2xl:px-25 py-25 lg:px-10 px-8 justify-center items-center gap-10 bg-linear-to-t from-[#f8f9fa] via-[#e9ecef] to-[#dce6f1]'
>
  <div
    class='flex flex-col lg:grid lg:grid-cols-[auto_1fr] max-w-[1440px] mx-auto items-center justify-center bg-gray-900 lg:py-1 lg:pr-1 rounded-2xl border-1 border-[#d3d3d3]'
  >
    <div
      class='flex flex-col max-w-[800px] w-full lg:h-full lg:items-start lg:text-left items-center text-center justify-evenly p-10 rounded-2xl'
    >
      <h1
        class='2xl:text-5xl lg:text-3xl text-2xl text-[#d3d3d3] pb-5 font-bold'
      >
        Formulario <br /> Contacto
      </h1>
      <div class='flex flex-col w-full justify-center'>
        <slot />
      </div>
    </div>
    <div class='h-full w-full hidden lg:block'>
      <img
        src='/contact-image.webp'
        alt='contacto imagen central clima'
        class='h-full w-full object-cover object-right rounded-2xl'
      />
    </div>
  </div>
</section>
