<section class='h-full bg-[#2b2b2b]'>
  <slot />
  <!-- Primer bloque -->
  <div
    class='flex flex-col lg:grid lg:grid-cols-[1fr] lg:grid-rows-2 min-h-screen bg-[#2b2b2b] max-w-screen mx-auto justify-between lg:p-12 p-8 gap-10'
  >
    <div
      class='hero h-full rounded-lg'
      style='background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp); rounded-lg'
    >
      <div class='bg-[#00000093] h-full w-full rounded-lg'></div>
      <div class='hero-overlay rounded-lg'></div>
      <div class='hero-content text-neutral-content text-center'>
        <div class='max-w-md'>
          <h1 class='mb-5 text-5xl font-bold'>
            Texto hablando o algo importante de la empresa
          </h1>
          <p class='mb-5'>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In, impedit
            nemo. Non officiis, excepturi a aliquam nam dolorem eveniet ullam
            animi error, velit asperiores, magni illo voluptates libero
            consequuntur ea?
          </p>
        </div>
      </div>
    </div>

    <!-- Segundo y tercer bloque -->
    <div class='lg:grid lg:grid-cols-2 gap-10 flex flex-col'>
      <!-- Segundo bloque -->
      <div
        class='hero h-full rounded-lg grid grid-cols-1 lg:grid-cols-2'
        style='background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);'
      >
        <div
          class='bg-[#00000093] h-full w-full lg:col-start-1 lg:col-end-3 rounded-lg'
        >
        </div>

        <div class='hero-content text-neutral-content text-center lg:text-left'>
          <div class='max-w-md'>
            <h1 class='mb-5 text-5xl font-bold'>Texto 2</h1>
            <p class='mb-5'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
              impedit nemo. Non officiis, excepturi a aliquam nam dolorem
              eveniet ullam animi error, velit asperiores, magni illo voluptates
              libero consequuntur ea?
            </p>
          </div>
        </div>
      </div>

      <!-- Tercer bloque -->
      <div
        class='hero h-full rounded-lg grid grid-cols-1 lg:grid-cols-2'
        style='background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);'
      >
        <div
          class='bg-[#00000093] h-full w-full lg:col-start-1 lg:col-end-3 rounded-lg'
        >
        </div>

        <div
          class='hero-content text-neutral-content text-center lg:text-right lg:col-start-2 lg:col-end-3'
        >
          <div class='max-w-md'>
            <h1 class='mb-5 text-5xl font-bold'>Texto 3</h1>
            <p class='mb-5'>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. In,
              impedit nemo. Non officiis, excepturi a aliquam nam dolorem
              eveniet ullam animi error, velit asperiores, magni illo voluptates
              libero consequuntur ea?
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
