<section class='h-[100px] flex w-full px-8 items-center shadow-xl'>
  <div>
    <a href='/'
      ><img
        src='/logo.svg'
        alt='logo centralclima'
        width='200'
        height='200'
      /></a
    >
  </div>
  <div class='hidden lg:flex lg:flex-grow basis-0 justify-end'>
    <ul
      class='place-items-start flex justify-end gap-4 mt-0 text-[#dcdcdc] font-light text-sm'
    >
      <li>
        <a
          href='https://www.facebook.com/CentralClimaSpA'
          class='rounded-full h-auto bg-[#1877F2] shadow-lg hover:bg-[#1566C1] transition-all py-2 px-3 flex flex-row gap-1 items-center'
        >
          <img
            src='/face-dark.svg'
            alt=''
            class='p-0'
            width='20'
            height='20'
          />
        </a>
      </li>
      <li>
        <a
          href='https://www.instagram.com/centralclimaspa/'
          class='rounded-full h-auto bg-[#E4405F] shadow-lg hover:bg-[#C2364E] transition-all py-2 px-3 flex flex-row gap-1 items-center'
        >
          <img
            src='/instagram-dark.svg'
            alt=''
            class='p-0'
            width='20'
            height='20'
          />
        </a>
      </li>
    </ul>
  </div>
</section>
