<header
  class='flex flex-col lg:grid lg:grid-cols-[100%] max-h-screen h-full max-w-screen mx-auto justify-between mt-[100px] lg:mt-0'
>
  <div
    class='lg:grid lg:grid-rows-[20%_60%_20%] lg:grid-cols-1 content-between px-0 py-0 order-2 lg:order-1 flex flex-col justify-start lg:justify-normal h-screen lg:h-auto'
  >
    <div class='grid grid-cols-2 lg:px-8 lg:pt-8'>
      <div>
        <a
          href='#'
          class='hidden lg:block justify-self-start'
        >
          <img
            src='/logo.svg'
            alt='Logo CentralClima SPA'
            class='lg:h-[50px] w-auto'
          />
        </a>
      </div>
      <!-- SOCIAL MEDIA -->
      <div class='hidden lg:block'>
        <ul class='place-items-start flex justify-end gap-4 mt-0 content-start'>
          <li>
            <a
              href=''
              class='text-sm lg:text-base font-light text-[18px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-2 px-3 flex flex-row gap-1 items-center'
            >
              <img
                src='/whats-dark.svg'
                alt=''
                class='w-auto h-[20px] p-0'
              />
              Whatsapp</a
            >
          </li>
          <li>
            <a
              href=''
              class='text-sm lg:text-base font-light text-[18px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-2 px-3 flex flex-row gap-1 items-center'
            >
              <img
                src='/face-dark.svg'
                alt=''
                class='w-auto h-[20px] p-0'
              />
              Facebook</a
            >
          </li>
          <li>
            <a
              href=''
              class='text-sm lg:text-base font-light text-[18px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-2 px-3 flex flex-row gap-1 items-center'
            >
              <img
                src='/instagram-dark.svg'
                alt=''
                class='w-auto h-[20px] p-0'
              />
              Instagram</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div
      class='relative space-y-4 lg:grid grid-cols-[80%_20%] content-center text-center lg:content-normal items-center justify-center lg:justify-start lg:text-left lg:p-8 p-8 lg:py-0 lg:m-0 bg-[url(../assets/banner.jpg)] w-full bg-[100%_auto] bg-no-repeat bg-center flex flex-col lg:gap-0 z-[1] bg-[#00000093] bg-blend-overlay gap-5'
    >
      <!-- BG BLACK WITH OPACITY -->

      <!-- MAIN CONTENT -->
      <div
        class='relative z-20 h-full flex flex-col justify-center m-0 gap-5 lg:gap-0'
      >
        <h1
          class='text-2xl lg:text-5xl font-light m-0 text-white leading-tight'
        >
          Climatización perfecta para cada espacio,<br />
          confort para cada momento.
        </h1>
        <p
          class='text-base lg:text-lg text-white font-light flex flex-col lg:flex-row lg:text-left items-center'
        >
          <span
            class='font-bold bg-white rounded-[5px] p-[2px] lg:mr-[5px] w-[150px] mx-auto lg:mx-0'
          >
            <span class='text-[#003162]'>Central</span><span
              class='text-[#CD0000]'>Clima SPA</span
            >
          </span>
          Soluciones integrales para empresas y residencial.
        </p>
      </div>

      <!-- AUTHOR INFO -->
      <div
        class='flex lg:justify-end lg:items-end lg:py-8 opacity-25 z-20 h-full'
      >
        <div
          class='text-white text-xs gap-2 bg-black bg-opacity-50 px-2 py-1 rounded flex'
        >
          <a
            href='https://unsplash.com/fotografo'
            target='_blank'
            class='underline'
            >Photo by<a
              href='https://unsplash.com/@x_vinicius?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash'
              >Vinícius Henrique Photography</a
            > on <a
              href='https://unsplash.com/photos/landscape-photo-of-mountain-tlCzxI2RQAc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash'
              >Unsplash</a
            >
          </a>
        </div>
      </div>
    </div>

    <div
      class='text-center grid grid-rows-[30%_70%] lg:grid-rows-1 h-full justify-center px-8 content-center lg:content-normal'
    >
      <div class='flex justify-center items-center lg:hidden'>
        <h2 class='text-3xl lg:text-3xl font-light'>
          ¿Nos quieres conocer más?
        </h2>
      </div>
      <!-- BUTTONS -->
      <ul
        class='grid grid-cols-2 place-items-center lg:flex lg:justify-start lg:items-end lg:align-bottom gap-15 lg:gap-4 lg:mt-0 lg:pb-8 content-start'
      >
        <li>
          <a
            href=''
            class='text-sm lg:text-base font-light text-[18px] w-[120px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-4 px-5 flex flex-row gap-1 items-center justify-center'
          >
            Trabajos</a
          >
        </li>
        <li>
          <a
            href=''
            class='text-sm lg:text-base font-light text-[18px] w-[120px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-4 px-5 flex flex-row gap-1 items-center justify-center'
          >
            Servicios</a
          >
        </li>
        <li>
          <a
            href=''
            class='text-sm lg:text-base font-light text-[18px] w-[120px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-4 px-5 flex flex-row gap-1 items-center justify-center'
          >
            Nosotros</a
          >
        </li>
        <li>
          <a
            href=''
            class='text-sm lg:text-base font-light text-[18px] w-[120px] rounded-sm h-auto border-1 border-gray-100 bg-white text-gray-800 shadow-lg hover:bg-[#2b2b2b2a] transition-all py-4 px-5 flex flex-row gap-1 items-center justify-center'
          >
            Experiencia</a
          >
        </li>
      </ul>
    </div>
  </div>
</header>

<style>
  button {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .text-gray-900 {
    color: #2d2d2d;
  }

  nav {
    box-shadow: -10px 0px 50px 5px rgba(0, 0, 0, 0.3);
  }
</style>
