---
import { Image } from 'astro:assets'
---

<header class='h-screen w-full mt-[105px] lg:mt-0 mx-auto'>
  <div
    class='h-screen p-8 lg:p-0 content-between order-2 lg:order-1 flex flex-col justify-start lg:justify-normal'
  >
    <!-- PRIMER BLOQUE / BANNER -->
    <div
      class='px-2 py-5 text-center items-center justify-center lg:justify-normal lg:text-left lg:grid lg:p-8 2xl:mb-0 lg:rounded-none rounded-2xl bg-[url(../assets/banner1.svg)] max-w-screen 2xl:bg-[100%_auto] bg-no-repeat bg-cover flex lg:gap-0 z-[1] bg-[hsla(0,0%,0%,.25)] bg-blend-overlay gap-5 h-full'
    >
      <div class='lg:flex lg:flex-row justify-start h-full items-start hidden'>
        <div
          class='flex flex-row w-full rounded-sm justify-center items-center p-2'
        >
          <div class='flex'>
            <a
              href='#'
              class='hidden lg:block justify-self-start'
            >
              <img
                src='/logo.svg'
                alt='Logo CentralClima SPA'
                class='h-auto w-[200px]'
              />
            </a>
          </div>
          <!-- SOCIAL MEDIA -->
          <div class='hidden lg:flex lg:flex-grow basis-0 justify-end'>
            <ul
              class='place-items-start flex justify-end gap-4 mt-0 text-[#dcdcdc] font-light text-sm'
            >
              <li>
                <a
                  href=''
                  class='rounded-sm h-auto bg-[#1CA04D] shadow-lg hover:bg-[#148A3B] transition-all py-2 px-3 flex flex-row gap-1 items-center'
                >
                  <img
                    src='/whats-dark.svg'
                    alt=''
                    class='w-auto h-[20px] p-0'
                  />
                </a>
              </li>
              <li>
                <a
                  href=''
                  class='rounded-sm h-auto bg-[#1877F2] shadow-lg hover:bg-[#1566C1] transition-all py-2 px-3 flex flex-row gap-1 items-center'
                >
                  <img
                    src='/face-dark.svg'
                    alt=''
                    class='w-auto h-[20px] p-0'
                  />
                </a>
              </li>
              <li>
                <a
                  href=''
                  class='rounded-sm h-auto bg-[#E4405F] shadow-lg hover:bg-[#C2364E] transition-all py-2 px-3 flex flex-row gap-1 items-center'
                >
                  <img
                    src='/instagram-dark.svg'
                    alt=''
                    class='w-auto h-[20px] p-0'
                  />
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- BG BLACK WITH OPACITY -->

      <!-- MAIN CONTENT -->
      <div
        class='z-20 flex flex-col flex-grow justify-center lg:grid m-0 gap-5 lg:gap-0'
      >
        <div
          class='flex flex-col max-w-[1320px] justify-center items-center gap-2 text-[#dcdcdc] bg-[#00000050] p-5'
        >
          <h1
            class='text-2xl lg:text-5xl text-center m-0 font-extrabold uppercase'
          >
            Climatización perfecta para cada espacio
          </h1>
          <div
            class='text-base lg:text-lg font-light flex flex-col lg:flex-row lg:text-left items-center'
          >
            <h2 class='text-md lg:text-2xl'>
              Soluciones integrales para empresas y residencial.
            </h2>
          </div>
        </div>
      </div>

      <!-- CONOCERNOS LG -->

      <div
        class='text-center h-full w-full justify-center content-start hidden lg:grid'
      >
        <div class='flex justify-center items-center lg:hidden'>
          <h2 class='text-3xl lg:text-3xl font-light'>
            ¿Nos quieres conocer más?
          </h2>
        </div>
        <!-- BUTTONS -->
        <div class='w-full h-full flex'>
          <ul
            class='lg:flex font-bold lg:justify-center lgitems-center lg:align-bottom gap-15 lg:gap-4 lg:mt-0 content-start font-lighter tracking-wide'
          >
            <li>
              <a
                href=''
                class='w-[120px] max-w-[170px] flex rounded-sm bg-[#003162] text-[#dcdcdc] shadow-lg hover:bg-[#00214D] transition-all p-2 items-center justify-center'
              >
                Trabajos</a
              >
            </li>
            <li>
              <a
                href=''
                class='w-[120px] max-w-[170px] flex rounded-sm bg-[#003162] text-[#dcdcdc] shadow-lg hover:bg-[#00214D] transition-all p-2 items-center justify-center'
              >
                Servicios</a
              >
            </li>
            <li>
              <a
                href=''
                class='w-[120px] max-w-[170px] flex rounded-sm bg-[#003162] text-[#dcdcdc] shadow-lg hover:bg-[#00214D] transition-all p-2 items-center justify-center'
              >
                Nosotros</a
              >
            </li>
          </ul>
        </div>
        <!-- PHOTO CREDITS -->
        <div
          class='flex flex-grow lg:hidden lg:justify-end w-full justify-center lg:items-end opacity-25 z-20 lg:pb-8'
        >
          <div
            class='text-white text-xs gap-2 bg-black bg-opacity-50 px-2 py-1 rounded flex'
          >
            <a
              href='https://unsplash.com/fotografo'
              target='_blank'
              class='underline'
              >Photo by<a
                href='https://unsplash.com/@x_vinicius?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash'
                >Vinícius Henrique Photography</a
              > on <a
                href='https://unsplash.com/photos/landscape-photo-of-mountain-tlCzxI2RQAc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash'
                >Unsplash</a
              >
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- CONOCERNOS MOBILE -->

    <div
      class='text-center flex justify-evenly flex-col h-full mt-5 lg:hidden bg-[#003162] rounded-2xl p-5'
    >
      <div class='flex justify-center mb-5'>
        <h2 class='text-3xl lg:text-3xl font-bold text-white'>
          ¿Nos quieres conocer más?
        </h2>
      </div>
      <!-- BUTTONS -->
      <div class='flex justify-center items-center'>
        <ul
          class='gap-10 sm:grid sm:grid-cols-2 flex flex-col items-center font-light text-gray-900'
        >
          <li>
            <a
              href=''
              class='w-[120px] max-w-[120px] rounded-sm bg-white shadow-lg hover:bg-[#cd0000] hover:text-white transition-all py-2 flex items-center justify-center'
            >
              Trabajos</a
            >
          </li>
          <li>
            <a
              href=''
              class='w-[120px] max-w-[120px] rounded-sm bg-white shadow-lg hover:bg-[#cd0000] hover:text-white transition-all py-2 flex items-center justify-center'
            >
              Servicios</a
            >
          </li>
          <li>
            <a
              href=''
              class='w-[120px] max-w-[120px] rounded-sm bg-white shadow-lg hover:bg-[#cd0000] hover:text-white transition-all py-2 flex items-center justify-center'
            >
              Nosotros</a
            >
          </li>
          <li>
            <a
              href=''
              class='w-[120px] max-w-[120px] rounded-sm bg-white shadow-lg hover:bg-[#cd0000] hover:text-white transition-all py-2 flex items-center justify-center'
            >
              Experiencia</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>

  <style>
    button {
      transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }

    .text-gray-900 {
      color: #2d2d2d;
    }

    nav {
      box-shadow: -10px 0px 50px 5px rgba(0, 0, 0, 0.3);
    }
  </style>
</header>
