<nav
  class='h-[100px] order-1 shadow-xl grid content-center lg:content-start px-8 z-[20] bg-white inset-shadow-sm fixed top-0 lg:hidden w-full'
>
  <div class='grid grid-cols-2 justify-center items-center'>
    <!-- Columna 1: Imagen -->
    <div class='flex justify-start items-end'>
      <img
        src='/logo.svg'
        alt='Logo CentralClima SPA'
        class='h-[50px] w-auto lg:hidden'
      />
    </div>

    <!-- Columna 2: Menu - Mobile -->
    <div class='flex justify-end items-end lg:hidden'>
      <div class='dropdown dropdown-end'>
        <div
          tabindex='0'
          role='button'
          class='btn m-1 border-1 boder-[#2b2b2b] p-2 shadow-none bg-white'
        >
          <p class='block lg:hidden font-light text-gray-900'>Redes</p>

          <img
            src='/menu-black.svg'
            alt='Menú blanco'
            class='lg:hidden block w-auto lg:h-[40px] h-[25px] p-0'
          />

          <!-- Imagen negra para pantallas pequeñas -->
        </div>
        <ul
          tabindex='0'
          class='dropdown-content menu bg-base-100 rounded-lg w-40 font-400 p-1 shadow text-[12px] z-[1] lg:text-[20px] text-gray-900 flex justify-center items-center gap-1'
        >
          <li class='w-full'>
            <a
              class='hover:bg-[#1ca04d] bg-[#25D366] text-white'
              href='#'
              ><img
                src='/whats-dark.svg'
                alt=''
                class='block w-auto lg:h-[40px] h-[20px] p-0'
              />Whatsapp</a
            >
          </li>
          <li class='w-full'>
            <a
              class='hover:bg-[#c2364e] bg-[#E4405F] text-white'
              href='https://www.instagram.com/centralclimaspa/'
              ><img
                src='/instagram-dark.svg'
                alt=''
                class='w-auto lg:h-[40px] h-[20px] p-0'
              />Instagram</a
            >
          </li>
          <li class='w-full'>
            <a
              class='hover:bg-[#1566c1] bg-[#1877F2] text-white'
              href='https://www.facebook.com/CentralClimaSpA'
              ><img
                src='/face-dark.svg'
                alt=''
                class='w-auto lg:h-[40px] h-[20px] p-0'
              />Facebook</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
