<!-- Primer bloque -->
<section
  id='Services'
  class='flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-2 min-h-screen max-w-[1440px] mx-auto justify-between p-8 gap-10'
>
  <!-- Primera 1 -->
  <div class='grid grid-rows-[30%_70%] p-8'>
    <div>
      <h2 class='text-6xl font-thin'>Servicios</h2>
    </div>
    <p class='text-lg font-light text-justify'>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis
      repellendus asperiores totam ipsum nulla inventore porro hic expedita
      ullam? Accusamus id dolore veritatis natus nostrum ex asperiores facilis
      ratione modi.
    </p>
  </div>
  <!-- Segunda -->
  <div class='bg-primary grid grid-cols-[1fr_1fr] grid-'>
    <div class='p-8 grid-rows-[30%_70%] grid order-2'>
      <h1 class='text-5xl'>Mantencion</h1>
      <p class='text-lg font-light text-justify'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aspernatur
        nesciunt nostrum sunt neque est. Ratione exercitationem consequuntur
        labore modi ipsa maiores similique esse aut, nostrum nam perspiciatis
        eaque mollitia.
      </p>
    </div>
    <div class='p-8'>
      <div class='bg-black w-full h-full'></div>
    </div>
  </div>
  <div class='bg-secondary grid grid-cols-[1fr_1fr]'>
    <div class='p-8 grid-rows-[30%_70%] grid'>
      <h1 class='text-5xl'>Venta</h1>
      <p class='text-lg font-light text-justify'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aspernatur
        nesciunt nostrum sunt neque est. Ratione exercitationem consequuntur
        labore modi ipsa maiores similique esse aut, nostrum nam perspiciatis
        eaque mollitia.
      </p>
    </div>
    <div class='p-8'>
      <div class='bg-black w-full h-full'></div>
    </div>
  </div>
  <div class='bg-blue-900 grid grid-cols-[1fr_1fr]'>
    <div class='p-8 grid-rows-[30%_70%] grid order-2'>
      <h1 class='text-5xl'>Instalacion</h1>
      <p class='text-lg font-light text-justify'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo aspernatur
        nesciunt nostrum sunt neque est. Ratione exercitationem consequuntur
        labore modi ipsa maiores similique esse aut, nostrum nam perspiciatis
        eaque mollitia.
      </p>
    </div>
    <div class='p-8'>
      <div class='bg-black w-full h-full'></div>
    </div>
  </div>
</section>
