<!-- Primer bloque -->
<div
  class='h-full lg:h-screen lg:flex lg:flex-col pt-25 2xl:px-25 lg:px-10 px-8 bg-linear-to-t from-[#f8f9fa] via-[#e9ecef] to-[#dce6f1] first-section'
  id='firstSection'
>
  <section
    id='Services'
    class='flex flex-col h-full max-w-[1440px] lg:pb-0 2xl:pb-0 gap-10 text-gray-900 mx-auto lg:mt-[100px] 2xl:my-0'
  >
    <!-- Primera 1 -->
    <div
      class='flex flex-col w-full h-full lg:grid lg:grid-rows-[auto_1fr] gap-5 justify-evenly'
    >
      <div class='flex flex-col lg:flex-row w-full items-end'>
        <!-- <div
          class='w-full h-full flex justify-start lg:items-start order-2 lg:order-0'
        >
          <div
            class='bg-[#003162] size-[100px] lg:size-[150px] rounded-tr-[100%] max-h-[250px]'
          >
          </div>
        </div> -->
        <div class='h-full w-full'>
          <h2
            class='lg:text-5xl 2xl:text-7xl text-4xl font-extrabold h-auto w-full flex flex-col'
          >
            <span class='bg-gray-900 h-full p-2 text-[#fff]'>Nuestros</span
            ><span class='h-full p-2'>Servicios</span>
          </h2>
        </div>
      </div>

      <div
        class='flex flex-col lg:grid-cols-2 lg:grid gap-5 text-gray-900 h-full w-full'
      >
        <!-- Second part -->
        <div class='flex flex-col gap-5 h-full justify-evenly'>
          <div
            class='border-l-8 items-end lg:items-center flex flex-col lg:flex-row p-5 gap-5 overflow-hidden max-h-[400px] min-h-[156px] bg-white rounded-r-2xl shadow-2xl hover:scale-102 hover:transform transition-all intersect:animate-fade-up intersect:animate-delay-200 intersect-once'
          >
            <h1 class='lg:text-5xl text-4xl font-bold'>01</h1>

            <div class='w-full flex flex-col lg:items-start items-end gap-2'>
              <h1 class='text-3xl lg:justify-end flex font-light'>
                Instalación
              </h1>
              <p class='text-1xl font-light text-justify fade-slide-in'>
                Asesoría y montaje preciso para una climatización eficiente,
                equilibrando funcionalidad y estética.
              </p>
              <!-- <div class='w-full flex justify-end items-center'>
                <a href='/Instalacion'>
                  <button class='text-right btn btn-soft'>Ver más</button>
                </a>
              </div> -->
            </div>
          </div>
          <!-- 2 -->
          <div
            class='border-l-8 items-end lg:items-center flex flex-col lg:flex-row p-5 gap-5 overflow-hidden nax-h-[400px] min-h-[156px] bg-white rounded-r-2xl shadow-2xl hover:scale-102 hover:transform transition-all intersect:animate-fade-up animate-delay-300 intersect-once'
          >
            <h1 class='lg:text-5xl text-4xl font-bold'>02</h1>

            <div class='w-full flex flex-col lg:items-start items-end gap-2'>
              <h1 class='text-3xl lg:justify-end flex font-light'>
                Mantención
              </h1>
              <p class='text-1xl font-light text-justify'>
                Optimizamos el funcionamiento y sanitización de los equipos,
                reduciendo costos y prolongando su vida útil.
              </p>
              <!-- <div class='w-full flex justify-end items-center'>
                <a href='/Mantenimiento'
                  ><button class='text-right btn btn-soft'>Ver más</button></a
                >
              </div> -->
            </div>
          </div>
        </div>
        <!-- 3 -->
        <div class='flex flex-col gap-5 justify-evenly'>
          <div
            class='border-l-8 items-end lg:items-center flex flex-col lg:flex-row p-5 gap-5 max-h-[400px] overflow-hidden min-h-[156px] bg-white rounded-r-2xl shadow-2xl hover:scale-102 hover:transform transition-all intersect:animate-fade-up intersect:animate-delay-400 intersect-once'
          >
            <h1 class='lg:text-5xl text-4xl font-bold'>03</h1>

            <div class='w-full flex flex-col lg:items-start items-end gap-2'>
              <h1 class='text-3xl lg:justify-end flex font-light'>Venta</h1>
              <p class='text-1xl font-light text-justify'>
                Ofrecemos una variedad de equipos, modelos y marcas, con gran
                disponibilidad para suplir los diversos requerimientos de cada
                cliente.
              </p>
              <!-- <div class='w-full flex justify-end items-center'>
                <a href='/Venta'>
                  <button class='text-right btn btn-soft'>Ver más</button></a
                >
              </div> -->
            </div>
          </div>
          <!-- 4 -->
          <div
            class='border-l-8 items-end lg:items-center flex flex-col lg:flex-row p-5 gap-5 max-h-[400px] overflow-hidden min-h-[156px] bg-white rounded-r-2xl shadow-2xl hover:scale-102 hover:transform transition-all intersect:animate-fade-up intersect:animate-delay-500 intersect-once'
          >
            <h1 class='lg:text-5xl text-4xl font-bold'>04</h1>

            <div class='w-full flex flex-col lg:items-start items-end gap-2'>
              <h1 class='text-3xl lg:justify-end flex font-light'>
                Servicio Técnico
              </h1>
              <p class='text-1xl font-light text-justify'>
                Capaces de brindar soluciones de fallas que suelen generar los
                equipos a lo largo del tiempo.
              </p>
              <!-- <div class='w-full flex justify-end items-center'>
                <a href='/Servicio'
                  ><button class='text-right btn btn-soft'>Ver más</button></a
                >
              </div> -->
            </div>
          </div>
        </div>
        <!-- 4 -->
      </div>

      <!-- Column 2 -->
    </div>
  </section>
</div>
