<!-- Primer bloque -->
<section
  id='Services'
  class='flex flex-col lg:grid lg:grid-cols-2 lg:grid-rows-2 min-h-screen max-w-[1440px] mx-auto justify-center items-center p-8 lg:p-0 lg:pt-[68px] lg:pb-[50px] gap-10'
>
  <!-- Primera 1 -->
  <div class='grid p-5 justify-center items-center'>
    <div>
      <h2 class='text-6xl font-thin'>Servicios</h2>
    </div>
    <div class='w-full h-full overflow-hidden'>
      <p class='text-lg font-light text-justify pt-5'>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis
        repellendus asperiores totam ipsum nulla inventore porro hic expedita
        ullam? Accusamus id dolore veritatis natus nostrum ex asperiores facilis
        ratione modi.
      </p>
    </div>
  </div>
  <!-- Segunda -->
  <div
    class='bg-primary lg:grid lg:grid-cols-[1fr_1fr] flex flex-col content-center gap-5'
  >
    <div class='lg:p-5 px-5 lg:2order-2'>
      <div class='pt-5'>
        <h1 class='lg:text-5xl text-4xl'>Venta</h1>
        <p class='text-lg font-light text-justify pt-5'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
          aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
          consequuntur labore modi ipsa maiores similique esse aut, nostrum nam
          perspiciatis eaque mollitia.
        </p>
      </div>
    </div>
    <div class='lg:py-5 lg:pl-5 px-5 pb-5'>
      <div class='bg-black h-[120px] lg:h-full w-full'>212</div>
    </div>
  </div>
  <!-- Tercero -->
  <div class='bg-primary lg:grid lg:grid-cols-[1fr_1fr] flex flex-col gap-5'>
    <div class='lg:p-5 px-5'>
      <div class='pt-5'>
        <h1 class='lg:text-5xl text-4xl'>Instalacion</h1>
        <p class='text-lg font-light text-justify pt-5'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
          aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
          consequuntur labore modi ipsa maiores similique esse aut, nostrum nam
          perspiciatis eaque mollitia.
        </p>
      </div>
    </div>
    <div class='lg:py-5 lg:pl-5 px-5 pb-5'>
      <div class='bg-black h-[120px] lg:h-full w-full'>212</div>
    </div>
  </div>
  <!-- Cuarto -->
  <div class='bg-primary lg:grid lg:grid-cols-[1fr_1fr] flex flex-col gap-5'>
    <div class='lg:p-5 px-5 lg:order-2'>
      <div class='pt-5'>
        <h1 class='lg:text-5xl text-4xl'>Mantencion</h1>
        <p class='text-lg font-light text-justify pt-5'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
          aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
          consequuntur labore modi ipsa maiores similique esse aut, nostrum nam
          perspiciatis eaque mollitia.
        </p>
      </div>
    </div>
    <div class='lg:py-5 lg:pl-5 px-5 pb-5'>
      <div class='bg-black h-[120px] lg:h-full w-full'>212</div>
    </div>
  </div>
</section>
