<!-- Primer bloque -->
<div class='h-auto bg-white'>
  <section
    id='Services'
    class='container flex flex-col lg:h-screen lg:grid lg:grid-cols-2 max-w-[1440px] mx-auto items-center justify-center p-8 lg:px-0 gap-10 rounded-2xl'
  >
    <!-- Primera 1 -->
    <div
      class='flex flex-col justify-center lg:items-end items-center w-full lg:order-2'
    >
      <div>
        <h2 class='text-6xl font-thin'>Servicios</h2>
      </div>
      <div class='w-full'>
        <p class='text-lg font-light text-justify pt-5'>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis
          repellendus asperiores totam ipsum nulla inventore porro hic expedita
          ullam? Accusamus id dolore veritatis natus nostrum ex asperiores
          facilis ratione modi.
        </p>
      </div>
    </div>
    <!-- Column 2 -->
    <div class='flex flex-col gap-5'>
      <!-- Segunda -->
      <div
        class='border-1 rounded-2xl items-end lg:items-center flex flex-col lg:flex-row p-5 gap-10'
      >
        <div class='flex justify-center items-center'>
          <div class=''>
            <h1 class='lg:text-6xl text-4xl'>01</h1>
          </div>
        </div>
        <div class='w-full flex flex-col items-end gap-5'>
          <h1 class='lg:text-5xl text-4xl lg:justify-end flex'>Instalacion</h1>
          <p class='text-lg font-light text-justify'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
            aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
            consequuntur labore modi ipsa maiores similique esse aut, nostrum
            nam perspiciatis eaque mollitia.
          </p>
        </div>
      </div>
      <!-- Segunda -->
      <div
        class='border-1 rounded-2xl items-end lg:items-center flex flex-col lg:flex-row p-5 gap-10'
      >
        <div class='flex justify-center items-center'>
          <div class=''>
            <h1 class='lg:text-6xl text-4xl'>01</h1>
          </div>
        </div>
        <div class='w-full flex flex-col items-end gap-5'>
          <h1 class='lg:text-5xl text-4xl lg:justify-end flex'>Instalacion</h1>
          <p class='text-lg font-light text-justify'>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo
            aspernatur nesciunt nostrum sunt neque est. Ratione exercitationem
            consequuntur labore modi ipsa maiores similique esse aut, nostrum
            nam perspiciatis eaque mollitia.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
