---
import { Image } from 'astro:assets'
---

<!-- <div
  class='w-full flex flex-grow items-start justify-center pb-5 bg-white text-gray-900'
>
  <h1 class='text-3xl font-bold text-gray-900'>Principales marcas</h1>
</div> -->
<section
  class='w-full flex bg-[#003162] h-full justify-center items-center p-5'
>
  <div class='flex flex-col w-full h-full justify-center gap-10 items-center'>
    <div
      class='flex lg:flex-row flex-col gap-10 justify-evenly items-center w-full h-full'
    >
      <a
        href='https://www.mideastore.cl/?srsltid=AfmBOornSrz1m0n2EnzzHuGlc1MNyKngqUEHlZ4TPd5GmGtu9Ft4Ae0s'
        class='p-2'
      >
        <Image
          src='/midea-logo.svg'
          alt='midea logo'
          width={200}
          height={200}
        />
        <a
          href='https://www.hisense.cl/'
          class='p-2'
        >
          <Image
            src='/hisense.svg'
            alt='hisense logo'
            width={200}
            height={200}
          /></a
        >

        <a href='https://daikinlatam.com/es/contacto/'>
          <Image
            src='/daikin.svg'
            alt='daikin logo'
            width={200}
            height={200}
          />
        </a>
      </a>
    </div>
  </div>
</section>
