<section
  class='w-full h-full flex lg:py-0 lg:pb-25 2xl:px-25 lg:px-10 px-8 py-25'
>
  <div
    class='h-auto w-full flex flex-col lg:flex-row max-w-[1540px] mx-auto shadow-lg rounded-2xl'
  >
    <div
      class='lg:w-1/2 w-full flex p-5 bg-[#f2f2f2] items-center justify-center lg:rounded-l-2xl rounded-b-2xl order-2 lg:order-0'
    >
      <h1 class='lg:text-4xl text-1xl text-gray-900 text-center font-bold'>
        Operando en gran parte <br />de Santiago
      </h1>
    </div>
    <div class='w-full h-[400px] flex'>
      <div class='flex w-full h-full'>
        <video
          autoplay
          muted
          playsinline
          class='w-full h-full object-cover object-center shadow-2xl lg:rounded-r-2xl rounded-t-2xl'
        >
          <source
            src='workplace_cca.webm'
            type='video/webm'
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
