---
import { Image } from 'astro:assets'
---

<section
  id='lastSection'
  class='w-full h-screen flex flex-col lg:py-0 lg:pb-25 2xl:px-25 lg:px-10 px-8 pb-25 justify-center bg-linear-to-b from-[#f8f9fa] via-[#e9ecef] to-[#dce6f1]'
>
  <div class='w-full flex justify-start max-w-[1440px] mx-auto pb-10'>
    <Image
      src='/logo.svg'
      alt='ccu logo'
      width={300}
      height={300}
    />
  </div>
  <div
    class='h-[600px] w-full flex flex-col lg:flex-row max-w-[1440px] mx-auto shadow-lg rounded-2xl bg-gray-900 p-1'
  >
    <div
      class='lg:w-[700px] w-full flex px-10 items-center justify-center lg:rounded-l-2xl order-2 lg:order-0 py-5 lg:py-0'
    >
      <h1
        class='lg:text-3xl text-1xl text-[#d3d3d3] text-center font-bold text-balance'
      >
        Operando en todo <br />Santiago
      </h1>
    </div>
    <div class='w-full h-full flex'>
      <div class='flex w-full h-full'>
        <video
          autoplay
          muted
          playsinline
          class='w-full h-full object-cover object-center shadow-2xl rounded-2xl'
        >
          <source
            src='workplace_cca.webm'
            type='video/webm'
          />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
