---
import '../styles/global.css'
import { SEO } from 'astro-seo'
---

<!doctype html>
<html lang='es'>
  <head>
    <SEO
      title='CentralClima SpA - Atribuciones y credito'
      openGraph={{
        basic: {
          title: 'CentralClima SpA',
          type: 'website',
          image: '/logo.svg',
          url: 'https://centralclimaspa.cl/Creditos',
        },
      }}
      extend={{
        meta: [
          {
            name: 'description',
            content: 'Atribuciones y credito para pagina CentralClima SpA',
          },
        ],
      }}
    />

    <link
      rel='sitemap'
      href='/sitemap-index.xml'
    />
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width'
    />

    <script>
      window.addEventListener('hashchange', event => {
        // @ts-ignore
        history.replaceState(null, null, window.location.pathname)
      })
    </script>
    <title>CentralClima SPA</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    color: #101820;
    background-color: white;
  }
</style>
